<link rel="stylesheet" href="app/Components/Header/styles.css" />

<header id="cabecalho">
  <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-cont">
    <div class="container">
      <!-- Local do banner pequeno, optei por nao colocar -->
      <a class="navbar-brand px-3 py-0 mr-0">
        <span class="ml-2 mt-1" id="logo-ks">KS</span>
      </a>
      <button
        class="navbar-toggler mr-3"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSite"
        style="outline: none;"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav text-center ml-auto navi" id="naviid">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projetos">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">Contato</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="collapse"
              data-target="#dropdownmenu"
              >Paginas</a
            >
            <div class="collapse" id="dropdownmenu">
              <a class="nav-link" href="#">Galeria</a>
              <a class="nav-link" href="#">Loja</a>
              <a class="nav-link" href="/pages">Outras</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
