<link rel="stylesheet" href="app/Components/Footer/styles.css" />

<footer id="rodape">
  <div
    class="container text-center"
    id="redes-sociais"
    alt="redes sociais"
    style="font-size: 50px;"
  >
    <a href="#" class="fab fa-facebook-square" target="_blank"></a>
    <a href="#" class="fab fa-whatsapp-square" target="_blank"></a>
    <a href="#" class="fab fa-linkedin" target="_blank"></a>
    <a href="#" class="fab fa-github" target="_blank"></a>
    <a href="#" class="fab fa-instagram" target="_blank"></a>
  </div>
</footer>
