<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/public/favicons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="app/Template/styles.css" />

    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/public/favicons/favicon-96x96.png"
    />
    <link rel="manifest" href="/public/favicons/manifest.json" />
    <link rel="stylesheet" href="/public/styles/bootstrap.css" />
    <link rel="stylesheet" href="/public/styles/aos.css" />
    <link rel="stylesheet" href="/public/styles/slick.css" />
    <link rel="stylesheet" href="/public/styles/slick-theme.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script src="/public/scripts/sweetalert.js"></script>
  </head>

  <body>
    <div id="conteudo">
      {{ area_dinamica }}
      <div class="scrolltop">
        <div class="scroll icon"><i class="fa fa-4x fa-angle-up"></i></div>
      </div>
    </div>
    <script src="/public/scripts/jquery.js"></script>
    <script src="/public/scripts/sweetalert.js"></script>
    <script src="/public/scripts/ativoslinks.js"></script>
    <script src="/public/scripts/popper.js"></script>
    <script src="/public/scripts/bootstrap.js"></script>
    <script src="/public/scripts/aos.js"></script>
    <script src="/public/scripts/jquery.circliful.js"></script>
    <script src="/public/scripts/slick.js"></script>
    <script src="/public/scripts/snap.svg.js"></script>
    <script src="app/Template/index.js"></script>
  </body>
</html>
