* {
    margin: 0;
    padding: 0;
}

/* botão das notificações se mexer*/

.notificbtnmove {
    animation: treme 0.3s infinite;
}

@keyframes treme {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 5px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -5px;
    }
    100% {
        margin-left: 0;
    }
    0% {
        margin-right: 0;
    }
    25% {
        margin-right: 5px;
    }
    50% {
        margin-right: 0;
    }
    75% {
        margin-right: -5px;
    }
    100% {
        margin-right: 0;
    }
}