* {
  margin: 0;
  padding: 0;
}

/* background da div que pega tudo */
/*
#background-est {
  background: black;
}*/

/*navbar da estrutura */

#navbar-cont {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*links navbar menu principal */

.nav-link {
  color: Goldenrod !important;
}

.nav-link:hover {
  color: #a52a2a !important;
}

#logo-ks {
  color: #a52a2a !important;
}

#logo-ks:hover {
  color: Goldenrod !important;
}
