body {
    /*background-image: url("../img/Fundo-azulescuro.jpg");
    background-repeat: no-repeat;
    color: white;
    font-family: arial;*/
}

.form-control {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px auto;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    outline: none;
}

input {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px auto;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    outline: none;
}

div#corp-form {
    /*  background-color: red; */
    background-image: url("../img/Fundo-azulescuro.jpg");
    background-repeat: no-repeat;
    color: white;
    font-family: arial;
}

div#corp-form h1 {
    text-align: center;
    padding: 20px;
}

a {
    color: darkblue;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    text-decoration: underline;
}

input[type=submit] {
    background-color: #008B8B;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

div#msg-sucesso {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50.3);
    border: 1px solid rgb(34, 139, 34);
}

div.msg-erro {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, .3);
    border: 1px solid rgb(165, 42, 42);
    border-radius: 30px;
}

#img-voltar img {
    float: left;
    max-width: 50px;
}