* {
    margin: 0;
    padding: 0;
}

/* Tira as setas de subir e descer os numeros dos input numbers */

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}